/* basic */

html * {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(../images/background.jpg);
    font-size: 14px;
}


/* cookies page */

#cookiesHeader {
    color: #333366;
    font-size: 32px;
    font-weight: bolder;
    margin: 20px 0;
}

#cookiesWrapper {
    max-width: 1700px;
    margin-top: 100px !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #336;
    background-color: #fff;
    padding: 20px 25px;
    text-align: left;
}

#cookiesInfo>p {
    padding-top: 5px;
    padding-bottom: 5px;
}