html * {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/images/background.jpg);
}

a {
    color: #ff6500;
    display: inline;
    text-decoration: none;
}

a:hover {
    color: #d45b0b;
    text-decoration: underline;
}

.firstHeader {
    height: 43px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #151316;
    color: #999;
}

header>div>a:visited {
    color: #999;
}

header>div>a {
    color: #999;
}

div.brandContainer a:hover {
    color: #ededed;
    border-bottom: none;
}

div.logInContainer a:hover {
    color: #ededed;
    border-bottom: none;
}

.logInContainer {
    float: right;
    padding-top: 13px;
    color: #999;
    padding-right: 120px;
}

.brandContainer {
    float: left;
    padding-top: 10px;
    padding-left: 3vh;;
    font-size: 20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.nameContainer {
    height: 50px;
    color: #333366;
    margin-top: 13vh;
    margin-left: 3vh;
    font-size: 32px;
    font-weight: bolder;
}


.wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    max-width: 1700px;
    margin: 50px;
    padding-left: 3vh;
    padding-right: 3vh;
    margin: 0 auto;
}

.regionMainContainer {
    display: inline-block;
    width: 70%;
}


.leftBox {
    width: 23%;
    display: inline-block;
}

.blockMainMenu {
    padding: 2vh;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ededed;
    font-size: 15px;
    font-weight: normal;
    background-color: #fff;
}

article.blockMainMenu>ul {
    margin-top: 10px;
    padding-bottom: 8px;
}

article.blockMainMenu>h2 {
    color: #999;
    font-weight: bold;
}

.blockNavigationMenu {
    margin-top: 20px;
}

article.blockMainMenu>ul>li>p>a {
    font-weight: bold;
}

article.blockMainMenu>ul>li>p {
    margin-top: 15px;
}

article.blockMainMenu>ul>li {
    margin-bottom: 6px;
}

.collapsible {
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.icons {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 5px;
    vertical-align: top;
}


.middleContainer {
    width: 50%;
    padding: 19px;
    font-weight: bold;
    font-size: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ededed;
    color: #333366;
    font-weight: bold;
    margin-top: 7.8vh;
}

main.middleContainer>h2 {
    margin: 10px 0;
    font-size: 28px;
}

.courseBox {
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 5px;
}


footer {
    border-top: 2px solid white;
    padding-top: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}


.home {
    padding-top: 5px;
}



#courseNav {
    display: flex;
    float: left;
}
#courseNav > li {
    color: #ff6500;

    
}

.courseBox > h1 {
    font-size: 3.5vh;
}

.courseBox > p {
    font-size: 2vh;
    padding: 4vh 2vh 2vh 6vh;

}

.courseBox > ul > li{
    font-size: 14.5px;
    margin: 1vh 2vh 1vh 7vh;
    font-weight: 200; 
}

.lastLi::after {
    content: "";
    display: flex;
    justify-content: center;
    background-image: url(/assets/images/background.jpg);
    width: 100%;
    height: 2px;
    border-radius: 20px;
    margin-top: 4vh;
}


.triangle::before {
    content: "►"; 
    padding-right: 5px;
    color: rgb(153,153,153);
    padding-left: 1vh;
}

.square {
    margin-right:10px
}

.square::before{
    content: "∎"; 
    padding-right: 5px;
    color: rgb(153,153,153);
    padding-left: 1vh;
}

#hyperHome {
margin-bottom: 2vh;
}

.blockMainMenu2 {
    margin-top: 5vh;
}

.rightBox {
    width: 23%;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5vh;
    
}

.search {
    height: 2vw;
    border-radius: 4px;
    border-width: 1.1px;
    border-color: #dcdcdc;
    margin-left: 10px;
}

button.search {
    width: 6.2vh;
    font-size: 2vh;
    background-color: #f9f9f9;
}

button.search:hover {
    background-color: #ededed;
    cursor: pointer;
}

