/* basic */

html * {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/images/background.jpg);
    font-size: 14px;
}

a {
    color: #ff6500;
    display: inline;
    text-decoration: none;
}

a:hover {
    color: #d45b0b;
    text-decoration: underline;
}


/* header top */

.firstHeader {
    height: 41px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #151316;
    color: #999;
}

header>div>a:visited {
    color: #999;
}

header>div>a {
    color: #999;
}

div.brandContainer a:hover {
    color: #ededed;
    border-bottom: none;
}

div.logInContainer a:hover {
    color: #ededed;
    border-bottom: none;
}

.logInContainer {
    float: right;
    padding-top: 13px;
    color: #999;
    padding-right: 120px;
}

.brandContainer {
    float: left;
    padding-top: 10px;
    padding-left: 111px;
    font-size: 20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/* header middle */

.nameContainer {
    height: 50px;
    color: #333366;
    margin-top: 80px;
    margin-left: 111px;
    font-size: 32px;
    font-weight: bolder;
}


/* wrap container */

.wrapper {
    max-width: 1700px;
    margin-top: 50px;
    margin: 0 auto;
    border: 1px solid red
}

.regionMainContainer {
    display: inline-block;
    width: 70%;
}


/* login; moodle logo */

footer {
    border-top: 2px solid white;
    padding-top: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.footerLogInContainer {
    color: black;
}

.home {
    padding-top: 5px;
}


/* forgotten password page */