html * {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/images/background.jpg);
    font-size: 14px;
}

a {
    color: #ff6500;
    display: inline;
    text-decoration: none;
}

a:hover {
    color: #d45b0b;
    text-decoration: underline;
}


/* header top */

.top-container {
    width: 92%;
    /* padding-left: 19px; */
    margin: 0 auto;
}

.firstHeader {
    height: 41px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #151316;
    color: #999;
}

header>div>a:visited {
    color: #999;
}

header>div>div>a {
    color: #999;
}

div.brandContainer>a {
    color: #999;
}

div.brandContainer a:hover {
    color: #ededed;
    border-bottom: none;
}

div.logInContainer a:hover {
    color: #ededed;
    border-bottom: none;
}

.logInContainer {
    float: right;
    padding-top: 13px;
    color: #999;
    padding-right: 2%;
}

.brandContainer {
    float: left;
    padding-top: 10px;
    padding-left: 2%;
    font-size: 20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/* header middle */

.nameContainer {
    height: 50px;
    width: 96%;
    margin: 0 auto;
    color: #333366;
    margin-top: 80px;
    /* margin-left: 111px; */
    font-size: 32px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
}


/* wrap container */

.wrapper {
    /* 
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 30%;
    border: 1px solid red;
    margin: 5px; */
    max-width: 97%;
    margin-top: 50px;
    margin: 0 auto;
    /* border: 1px solid red */
}

.regionMainContainer {
    display: inline-block;
    width: 70%;
}


/* left side wrapper*/

.leftBox {
    width: 31%;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

.blockMainMenu {
    padding: 13px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ededed;
    font-size: 15px;
    font-weight: normal;
    background-color: #fff;
}

.yui3-skin-sam .yui3-calendarnav-prevmonth {
    border-right-color: #ff6500 !important;
    left: 0;
    margin-left: -10px;
}

.yui3-skin-sam .yui3-calendarnav-nextmonth {
    border-left-color: #ff6500 !important;
    right: 0;
    margin-right: -10px;
}

.yui3-skin-sam .yui3-calendar-header-label {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: #ff6500 !important;
}

article.blockMainMenu>ul {
    margin-top: 10px;
    padding-bottom: 8px;
}

article.blockMainMenu>h2 {
    color: #999;
    font-weight: bold;
}

.blockNavigationMenu {
    margin-top: 20px;
}

article.blockMainMenu>ul>li>p>a {
    font-weight: bold;
}

article.blockMainMenu>ul>li>p {
    margin-top: 15px;
}

article.blockMainMenu>ul>li {
    margin-bottom: 6px;
}

#hidden1 {
    padding-bottom: 1vh;
    display: none;
    text-indent: 6.5%;
}

#hidden2 {
    padding-bottom: 1vh;
    display: none;
    text-indent: 6.5%;
}

.courseBox>h1 {
    font-size: 3.5vh;
}

.courseBox>p {
    font-size: 2vh;
    padding: 4vh 2vh 2vh 6vh;
}

.block-nav-menu-course {
    display: none;
}

.collapsible {
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.icons {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 5px;
    vertical-align: top;
}


/* center side/ main */

.middleContainer {
    width: 25%;
    /* display: inline-block; */
    float: right;
    padding: 19px;
    width: 65%;
    font-weight: bold;
    font-size: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ededed;
    color: #333366;
    font-weight: bold;
}

main.middleContainer>h2 {
    margin: 10px 0;
    font-size: 28px;
}

.courseBox {
    margin-bottom: 15px;
    border: 1px dotted #ddd;
    border-radius: 4px;
    padding: 5px;
}

div.courseBox:hover {
    background-color: #E6E6E6
}

.middle-container-course {
    display: none;
}

.courseBox>ul>li {
    font-size: 14.5px;
    margin: 1vh 2vh 1vh 7vh;
    font-weight: 200;
}

.calendar-box {
    float: right;
}

.left-containers {
    float: right;
    width: 25%;
}

@media screen and (max-width: 1170px) {
    .regionMainContainer {
        width: 66%;
    }
}

@media screen and (max-width: 1030px) {
    .regionMainContainer {
        width: 100%;
    }
    .calendar-box {
        display: none;
    }
    .left-containers {
        float: left;
        width: 31%;
        position: relative;
        bottom: 78vh;
    }
}


/* login; moodle logo */

footer {
    border-top: 2px solid white;
    padding-top: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}


/* .footerLogInContainer {
    color: black;
} */

.home {
    padding-top: 5px;
}

.lastest-news-container {
    padding: 13px;
    border-radius: 4px;
    border: 1px solid #ededed;
    font-size: 15px;
    font-weight: normal;
    background-color: #fff;
}

.styles-h2 {
    color: #999;
    font-weight: bold;
}

.news-info {
    margin: 15px 0;
}

.admin-main-container {
    display: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ededed;
    margin-top: 20px;
}

.list-student {
    color: #333366;
    margin-top: 15px;
    font-weight: bold;
    display: block;
}

.styles-btn {
    margin-top: 20px !important;
    padding-top: 20px;
    background-color: #f5f5f5;
    color: #333;
    margin: 0 0 10px 5px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    width: auto;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    border-radius: 4px;
}

.styles-btn:hover {
    background: #E6E6E6;
}

.navMenu,
#rotate1,
#rotate2 {
    cursor: pointer;
    margin-top: 6px;
    background: #333366;
}

.arrow {
    color: #cccccc;
    padding-left: 1vh;
    padding-right: 1vh;
}

#courseNav {
    height: 1vh;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;

}

.description {
    padding-left: 1vh;
}